
@use "colours";
@use "fonts";

$fontbase: 1.1rem;
$leading: 1.4;
$viewfactor: 1.5vmin;

$unit: calc(( #{$fontbase} + #{$viewfactor}) * #{$leading} );
$roundness: calc( #{$unit} * 0.4 );
$roundness-small: calc( #{$unit} * 0.2 );

$content-max-width: calc( #{$unit} * 18 );

$contTrans: 0.2s;
$elemTrans: 0.1s;

$icon-breakpoint: 45em;

@mixin font($weight, $style, $scale, $type) {

  font-weight: $weight;
  font-style: $style;

  @if $type == disp {

    $leading: 1.0;
    $viewfactor: $viewfactor * 0.5;
  }

  font-size: calc(( #{$fontbase} + #{$viewfactor} ) * #{$scale} );
  line-height: calc(( ( #{$fontbase} + #{$viewfactor} ) * #{$leading} ) * #{$scale});
}

* {
  box-sizing: border-box;
  margin-block: unset;
  margin-inline: unset;
}

html {
  scroll-behavior: smooth
}

body {
  background: colours.$site-bg;
  font-family: 'Fira Sans', sans-serif;
  @include font(400, normal, 0.7, body);
  color: colours.$content-running-text;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-variant-numeric: oldstyle-nums proportional-nums;
}

.landmark {
  padding: $unit calc( #{$viewfactor} * 3 );
}

.header {
  min-height: 100vh;
  padding-top: 20vh;
  color: colours.$content-running-text-bright;
}

.header-form {
  display: block;
  margin: 0 0 -5px 0;
}

.header-form-1 {
  fill: colours.$site-page-bg;
}

.main, html {
  background: colours.$site-page-bg;
}

%content {
  max-width: $content-max-width;
  margin: calc( #{$unit} * 2 ) auto;
}

section {
  @extend %content;
}

h1, .subheading-block, .intro {
  position: relative;
  z-index: 2;
}

h1 {
  margin: unset;
  padding:
    calc( #{$unit} * 1 )
    0
    calc( #{$unit} * 2 )
    0;
  @include font(1000, normal, 2.8, disp);
  color: colours.$site-nav-ind;
  mix-blend-mode: hard-light;
  opacity: 0.85;
}

.subheading-block {
  max-width: $content-max-width;
  margin: 0 0 calc( #{$unit} * 4 ) 0;
}

.subheading {
  @include font(600, normal, 1, disp);
}

.intro {
  display: flex;
  flex-flow: column nowrap;
  max-width: $content-max-width;
  margin: 0 auto;
  padding: calc( #{$unit} * 1.2 ) calc( #{$unit} * 0.8 );
  @include font(500, italic, 0.7, body);
  color: colours.$content-text-extra-dark;
  background: colours.$site-intro;
  border-radius: $roundness;
}

.button-container {
  display: flex;
  justify-content: center;
}

%button {
  display: inline-block;
  padding:
    calc( #{$unit} * 0.2 )
    calc( #{$viewfactor} * 2 );
  cursor: pointer;
  border:
    solid
    calc( #{$unit} * 0.14 );
  border-radius: calc( #{$viewfactor} * 100 );
  color: colours.$content-running-text-bright;
  @include font(800, normal, 0.7, body);
  letter-spacing: calc( #{$unit} * 0.02 );
  text-align: center;
  text-decoration: none;
  transition:
    color $elemTrans ease-in-out,
    background $elemTrans ease-in-out,
    border $elemTrans ease-in-out;
}

.button-primary {
  @extend %button;
  background: linear-gradient(
    0deg,
    colours.$site-btn-pri-dark,
    colours.$site-btn-pri-light);
  border-color: colours.$site-btn-pri-cont;
  &:hover:not(.button-disabled),
  &:focus:not(.button-disabled) {
    background: colours.$content-running-text-bright;
    border-color: colours.$site-btn-pri-dark;
    color: colours.$site-btn-pri-dark;
  }
  &:active:not(.button-disabled),
  &.selected:not(.button-disabled) {
    background: colours.$content-running-text-bright;
    border-color: colours.$site-nav-ind;
    color: colours.$site-btn-pri-dark;
    font-style: italic;
  }
}

.button-secondary {
  @extend %button;
  background: linear-gradient(
    0deg,
    colours.$site-btn-sec-dark,
    colours.$site-btn-sec-light);
  border-color: colours.$site-btn-sec-cont;
  &:hover:not(.button-disabled),
  &:focus:not(.button-disabled) {
    background: colours.$content-running-text-bright;
    border-color: colours.$site-btn-sec-dark;
    color: colours.$site-btn-sec-dark;
  }
  &:active:not(.button-disabled),
  &.selected:not(.button-disabled) {
    background: colours.$content-running-text-bright;
    border-color: colours.$site-nav-ind;
    color: colours.$site-btn-sec-dark;
    font-style: italic;
  }
}

.button-tertiary {
  @extend %button;
  background: linear-gradient(
    0deg,
    colours.$site-btn-ter-dark,
    colours.$site-btn-ter-light);
    border-color: colours.$site-btn-ter-cont;
    color: colours.$site-btn-ter-col;
  &:hover:not(.button-disabled),
  &:focus:not(.button-disabled) {
    background: colours.$content-running-text-bright;
    border-color: colours.$site-hero-dark;
    color: colours.$site-hero-dark;
  }
  &:active:not(.button-disabled),
  &.selected:not(.button-disabled) {
    background: colours.$content-running-text-bright;
    border-color: colours.$site-nav-ind;
    color: colours.$site-btn-pri-light;
    font-style: italic;
  }
}

.button-disabled {
  filter: grayscale(100%) contrast(35%) brightness(150%);
}

::selection {
  background: colours.$content-sec-text-light;
}

*:focus:not([class]) {
  outline: calc( #{$unit} * 0.1 ) dashed colours.$site-nav-ind-dark;
}

a:not([class]),
a:visited:not([class]) {
  color: colours.$content-sec-text-dark;
}
a:hover:not([class]),
a:focus:not([class]) {
  color: colours.$site-nav-ind-dark;
}
a:active:not([class]) {
  color: colours.$site-nav-ind;
  background: unset;
}

h2, h3, h4 {
  margin: unset;
  padding: calc( #{$unit} * 1.8 ) 0 calc( #{$unit} * 1.2 ) 0;
}

h2 {
  @include font(800, normal, 1.3, body);
  color: colours.$content-dark;
  text-align: center;
}

h3 {
  @include font(800, normal, 1.1, body);
  color: colours.$content-text-dark;
}

h4 {
  @include font(800, normal, 0.9, body);
  color: colours.$content-text-extra-dark;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ol, ul, dl {
  list-style-position: outside;
  margin-block-start: unset;
  margin-block-end: unset;
  padding: 0 0 0 calc( #{$unit} * 0.6 );
}

ul ul,
ol ol {
  padding: calc( #{$unit} * 0.3 ) calc( #{$unit} * 0.6 );
  color: colours.$content-running-text-light;
}

p {
  margin: calc( #{$unit} * 0.6 ) 0;
}

em {
  @include font(400, italic, 0.7, body);
}

strong {
  @include font(500, italic, 0.7, body);
}

dd  {
  margin: 0;
  padding: 0 0 calc( #{$unit} * 0.3 ) 0;
}

dt, th {
  padding: 0 0 calc( #{$unit} * 0.1 ) 0;
  @include font(500, italic, 0.75, body);
  font-variant-numeric: oldstyle-nums tabular-nums;
  color: colours.$content-sec-text-dark;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: calc( #{$unit} * 1.2 ) 0;
  padding: calc( #{$unit} * 0.6 );
  background: colours.$content-bg-light;
  border-left: solid 8px colours.$content-dark;
}

code {
  @include font(444, normal, 0.6, body);
  color: colours.$content-text-extra-dark;
}

blockquote {
  padding: calc( #{$unit} * 0.6 ) calc( #{$unit} * 1.2 );
  @include font(400, italic, 0.7, body);
}

figure {
  margin: calc( #{$unit} * 1.2 ) 0;
}

figcaption {
  margin: calc( #{$unit} * 0.6 ) 0;
  @include font(500, italic, 0.6, body);
}

hr {
  margin: calc( #{$unit} * 0.6 ) 0;
  border-top: 0.1rem solid colours.$content-sec-text-dark;
}

.footnote-ref {
  color: colours.$content-sec-text-dark;
  @include font(800, italic, 0.6, body);
  text-decoration: none;
}

.footnotes ol {
  list-style: none;
  counter-reset: my-counter;
}

.footnotes ol li {
  counter-increment: my-counter;
  padding: 0 0 0 .5rem;

}

.footnotes ol li::marker {
  content: counter(my-counter) ".";
  color: colours.$content-sec-text-dark;
  @include font(800, italic, 0.7, body);
}
