
@use "../base/base";
@use "../base/colours";

// Should match "window.matchMedia()" in navigation.js
$nav-breakpoint: 45em;

.skip-link {
  position: fixed;
  top: -100vh;
}

.nav-pri {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  background: colours.$site-bg;

  @media screen and (min-width: $nav-breakpoint) {

    top: 0;
    bottom: unset;
    height: auto;
    background: unset;
  }
}

.nav-button-menu {
  @extend %button;
  order: 2;
  width: 100vw;
  background: colours.$content-extra-light;
  color: colours.$site-btn-pri-light;
  border-radius: unset;
  border: none;
  &:hover,
  &:focus {
    color: colours.$content-sec-text-dark;
    background: colours.$content-sec-text-light;
  }

  @media screen and (min-width: $nav-breakpoint) {

    display: none;
  }
}

.nav-pri-list {
  order: 1;
  max-height: 100vh;
  transition: max-height base.$contTrans ease-in-out;
  margin: unset;
  padding: unset;
  background:
  linear-gradient(260deg, colours.$site-bg, hsla(1,1%,1%,0) 100%), linear-gradient(140deg, colours.$site-hero-light, hsla(1,1%,1%,0) 100%), linear-gradient(380deg, colours.$site-hero-dark, colours.$site-hero-light 100%);
  box-shadow: 0px 0.4rem 0.8rem hsla(222,100%,22%,0.2);

  @media screen and (min-width: $nav-breakpoint) {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 calc( #{base.$viewfactor} * 4 );

    transform: translateY(0);
    transition: transform base.$contTrans ease;
  }
}

.nav-menu-closed {
  max-height: 0;
  overflow: hidden;

  @media screen and (min-width: $nav-breakpoint) {

    transform: translateY(-25vh);
  }
}

.nav-item {
  list-style-type: none;
  &:first-child {
    padding: calc( #{base.$viewfactor} * 3 ) 0 0 0;
  }
  &:last-child {
    padding: 0 0 calc( #{base.$viewfactor} * 3 ) 0;
  }

  @media screen and (min-width: $nav-breakpoint) {

    flex: 1 0 auto;
    &:first-child, &:last-child {
      padding: 0;
    }
  }
}

.nav-link {
  @extend %button;
  display: block;
  padding: calc( #{base.$viewfactor} * 2 ) calc( #{base.$viewfactor} * 3 );
  background: unset;
  color: colours.$content-running-text-bright;
  border: none;
  border-radius: unset;
  &:hover,
  &:focus {
    background: colours.$site-btn-pri-light;
    color: colours.$site-nav-ind;
  }
  &:active {
    background: colours.$site-nav-ind;
    color: colours.$site-btn-pri-light;
  }

  @media screen and (min-width: $nav-breakpoint) {

    padding: calc( #{base.$viewfactor} * 2 ) 0;
  }
}

.active {
  font-style: italic;
  color: colours.$site-nav-ind;
}
