@use "../base/base";
@use "../base/colours";

.pagination {
  @extend %content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: calc(#{base.$unit} * 0.4);
}

.pagination-panel {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  border-radius: base.$roundness;
  background: colours.$content-extra-light;
  color: colours.$content-text-extra-dark;
  transition: all base.$contentTrans ease-in-out;
  text-decoration: none;
  &:hover,
  &:focus {
    transform: scale(1.025);
    background: colours.$content-sec-text-light;
  }
  &:hover *,
  &:focus * {
    color: colours.$content-sec-text-dark;
  }
}

.pagination-panel[data-pagination="prev"] {
  grid-column: 1 / 2;
  text-align: right;
}

.pagination-panel[data-pagination="next"] {
  grid-column: 2 / 3;
  text-align: left;
}

.pagination-linktext {
  display: inline-block;
  padding: calc(#{base.$unit} * 0.4) calc(#{base.$unit} * 0.4) calc(#{base.$unit} * 0.2) calc(#{base.$unit} * 0.4);
  @include base.font(800, italic, 0.7, body);
  color: colours.$content-text-medium;
}

.pagination-title {
  display: inline-block;
  padding: 0 calc(#{base.$unit} * 0.4) calc(#{base.$unit} * 0.4) calc(#{base.$unit} * 0.4);
}

.pagination-img {
  display: block;
  border-radius: 0 0 base.$roundness base.$roundness;
}
